
@{
    ViewBag.Title = "Logged";
}

<h2 class="text-danger">Effettua il Logout</h2>
<p>L'id dell'utente loggato è @ViewBag.AdminID</p>

@using (Html.BeginForm("Logout", "Login"))
{
    @Html.AntiForgeryToken();
    <button class="btn btn-danger">Logout</button>
}
